.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 800px;
    flex: 1;
} */

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* background-color: red; */
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    text-align: center;
    transition: background-color 100ms linear;
    border: 1px solid green;
}

.cell:hover {
    background-color: green;
}